/*
 * grid-style.css
 */
 
body{
    border-color: white;
    margin:0;
    padding:0;
    display: grid;
    grid-template-areas:	
	"head"
	    "main" 
	    "foot";
}
 
li{
	list-style:none;
	margin:0.4em;
}

li a{
    color: #e65c00;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
  background-color: yellow;
  color:#190;
}

header{
	grid-area: head;
	background-color: #ff8c1a;
}


header h1{
    text-align: center;
    font-family:serif;
}
header h1 a{
    color: white;
    text-decoration: none;
}

#ariwa-logo{
width:240px;
height:100px;
float:left;
border-style: solid;
border-width: thick;
border-color: white;
border-radius: 2px;
}

main{
	grid-area: main;
	display:grid;
	grid-template-areas:
		"doku info" 
		"yout book"; 
}

section{
    margin: 1.0em;
    padding: 0.4em;
    background-color: #d9d9d9;    
}

#dokumentation{
	grid-area: doku;
	display:grid;
	grid-template-areas:
		"headline"
		"youtube"
		"netflix";
}
	#dokumentation #h2{
		grid-area: headline;
	}
	#youtube,#netflix{
		margin:0.0em;
		padding: 0.1em;
	}
	#youtube{
		grid-area: youtube;
		display: grid;
		grid-template-columns:15% 85%;
		grid-template-areas:
			"hyt uyt";
	}
	
	#youtube h4{
			margin: 0;
			grid-area: hyt;
	}
	
	#youtube ul{
		margin:0;
		grid-area: uyt;
	}
	#netflix{
		grid-area: netflix;
		display: grid;
		grid-template-columns:15% 85%;
		grid-template-areas:
			"hnet unet";
	}
	#netflix h4{
		margin:0;
		grid-area: hnet;
	}
	#netflix ul{
		margin:0;
		grid-area: unet;
	}
	
#youtube_channel{
	grid-area:yout;
}
#information{
	grid-area:info;
}
#books{
	grid-area:book;
}

#dokumentation, #youtube_channel, #information, #books{
    	border-style: solid;
	border-width: thick;
	border-color: white;
	border-radius: 0.8em;
}


footer{

	grid-area: foot;
	background-color: #ff8c1a;
	padding-right:1.5em;

	display: flex;
	justify-content: flex-end;
}

footer a{
	margin-right: 0.5em;
	position:relative;
}

footer a::before{
	content: '';
	position: absolute;
	right: -1em;
	top: 0;
	height: 0%;
	width: 0%;
	background-color: darkgrey;
	transition: all 1s;
	z-index:-1;
}
footer a:hover::before{
	width: 110%;
	height: 100%;
}

footer a:hover{
	transition: 1s;
	transition-delay: 0.5s;
	color: white;
}

#facebook{
	padding-right: 0.2em;
	width:7em;
	height:1em;
}


/*
 * Fixieren von Header und Footer nur, wenn genug Platz ist
 */
@media all and (min-height: 10em){
	header{
		width:100%;
		position:fixed;
	}

	main{
		margin-top:8.0em;
		margin-bottom:2em;
	}
	footer{
		bottom:0;
		width:100%;
		position:fixed;
	}
}

/*
 * Umschalten auf Flexmodel in einer Spalte
 * bei kleinen Bildschirmbreiten
 */
@media all and (max-width: 30em){
    main{
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
    }
    header{
		width:100%;
		position:static;
	}
    header h1{
	float: left;
    }
   
}
@media all and (max-height: 20em){
    main{
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
    }
    header{
		width:100%;
		position:static;
	}
    header h1{
	float: left;
    }
   
}
